@charset "utf-8";
/* CSS Document */
.right{width:754px; padding-left:42px; float:left;}
.right h2{background:url(../images/tb.png) no-repeat left 5px; padding-left:28px; font-size:16px; color:#543a29; height:23px; line-height:23px; width:726px; margin-bottom:39px;}
.right h2 span{width:300px; font-size:12px; color:#543a29; float:right; text-align:right;}
.right h2 span a{color:#543a29;}
.right li{width:696px; height:181px; position:relative;}
.right li img{margin-right:20px; float:left; width:185px; height:151px;}
.right li h3{width:492px; height:33px; line-height:33px; font-size:16px; color:#3c1c09; font-family:"黑体"; position:absolute; left:205px; top:0;} 
.right li p a{font-size:14px; color:#3c1c09;}
.right li p:nth-child(3){ height:28px; line-height:28px; margin-bottom:14px; position:absolute; left:205px; top:33px;}
.right li p:nth-child(4){ text-indent:28px; width:492px; line-height:22px; font-size:14px; color:#3c1c09;position:absolute; left:205px; top:75px;}
.right li p:last-child{font-size:12px; color:#000000;position:absolute; left:205px; top:121px;}
.wrap_footer{width:1100px;margin:0 auto;}
.right .fanye{width:500px; margin-top:50px; padding-left:200px;}
.right .fanye a{display:block; text-decoration:none; font-size:12px; width:23px; float:left; margin-right:10px; border:1px solid #543a29; text-align:center; height:25px; line-height:25px; color:#543a29;}