@charset "utf-8";
/* CSS Document */
.fullSlide{width:100%;position:relative;height:410px;margin:0 auto 104px auto;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:410px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:410px;}