@charset "utf-8";
/* CSS Document */
.wrap_banner{width:1144px;margin:0 auto;}
.main{ width:1100px; margin:35px auto 40px auto;}
.main .left{ float:left; width:303px;}
.main .right{ width:756px; padding-left:40px; float:left;}
.main .right .top{ width:756px; padding-bottom:39px;}
.main .right .top h2{ float:left; width:80px; padding-left:30px; height:22px; line-height:22px; font-size:16px; color:#543a29; background:url(../images/pic_06.jpg) no-repeat left 5px;}
.main .right .top>p{ float:right; width:200px; text-align:right; font-size:12px; color:#543a29; height:22px;}
.main .right>p{ width:400px; padding-left:12px; line-height:24px; font-size:16px; color:#543a29;}
.main .right>p span{ font-size:16px; height:26px; line-height:26px; color:#543a29; font-family:"微软雅黑"; font-weight:bold;}
.main .right form{ margin-top:85px; width:670px; height:405px; border:1px solid #d8cfba; border-radius:10px; background:#f9f5ec; position:relative;}
.main .right form .img{ display:block; position:absolute; left:0px; top:-58px;}
.main .right form p{ width:670px; height:19px; line-height:19px; padding-bottom:16px;}
.main .right form label{float:left; width:50px; text-align:right; font-size:12px; color:3543a29; padding-right:46px;}
.main .right form [type="text"]{ width:344px; border:1px solid #cbc0ae; height:17px; background:#f6eedc;}
.main .right form .textarea{ height:81px; line-height:81px;}
.main .right form .textarea textarea{ width:350px; border:1px solid #cbc0ae; background:#f6eedc; margin-bottom:38px;}
.main .right form [type="submit"]{ width:83px; margin-left:287px; font-size:12px; color:#FFF; background:#bf6300; border:none; height:26px; line-height:26px; border-radius:5px;}
.wrap_footer{width:1100px;margin:0 auto;}